//Settings for stuff reee

$colors: #BB6BD9,#09c,#00e25e,#fbc02d;

$names: analysis,design,development,evaluation;

$coords: -.8125 -.5, .5 -.8125, .8125 .5, -.5 .8125;

$open-coords: 1.75 -5.5, 5 -2.25, 5 2.25, 1.75 5.5;
$landing-coords: -7 -8, 8 -7, 7 8, -7 8;

$curve: cubic-bezier(.5, 1.5,.5,1);
$length: .84s;