/* You can add global styles to this file, and also import other style files */

@import '_settings.scss';
@import '../node_modules/ng-antui/dist/src/scss/antui.scss';
app-root {
    display: block;
}

app-nav {
    display: block;
}

body {
    overflow-x: hidden;
}

.page {
    width: 100vw;
    &:after{
        content:'';
        display:block;
        height: 10rem;
    }
    &:last-of-type{
        &:after{
            content: '';
            display:block;
            height: 30rem;
        }
    }
    //If we need unique styles
    position: relative;
    padding-top: 4rem;
    &#landing {
        min-height: 56rem;
    }
}

@for $i from 1 through length($names) {
    &##{nth($names,$i)} nav,
    nav##{nth($names, $i)} {
        background-color: nth($colors, $i);
    }
}

nav {
    width: 100vw;
    height: 4rem;
    color: white;
    z-index: 1;
    font-size: 0;
    p {
        display: inline-block;
        height: 4rem;
        vertical-align: middle;
        line-height: 4rem;
        margin-left: 5vmin;
        font-size: 1.25rem;
        color: inherit;
        &:first-of-type {
            font-size: 1.75rem;
            margin-left: 15rem;
        }
    }
    .fixed & {
        position: fixed;
        top: 0;
        left: 0;
    }
    .page & {
        position: absolute;
        top: 0;
        left: 0;
    }
}

//alternative page style:

/*
#landing{
    height: 100vh;
}
.page:after{
    content: '';
    display:block;
    height: 10rem;
}
*/

ul>li {
    display: list-item;
    text-transform: capitalize;
    margin: 1rem;
    margin-left: 3rem;
}